<div class="container">
</div>

<%= if @url == "error" do %>
  <div class="container text-center">
    <img src="https://avatars1.githubusercontent.com/u/671794?s=200&v=4" width="15%"/>
    <br><br><h3> No git repo found! </h3>
    <span class="badge badge-warning">Your url must have <b>github, .git and https</b></span>
    <br><br><a href="http://localhost:4000/" class="btn btn-secondary" > Back! </a>
  </div>
<% else %>
  Analizing url... <%= @url %>
<% end %>
